[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/test-4.x.cfg
    sources.cfg

package-name = openmultimedia.reporter
package-extras = [test]
eggs = Pillow
test-eggs = Pillow

parts += 
        omelette
        coverage
        report
        pyflakes
        pep8

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[coverage]
recipe = zc.recipe.egg
eggs = coverage
initialization =
    include = '--source=${buildout:directory}/src/openmultimedia/reporter'
    sys.argv = sys.argv[:] + ['run', include, 'bin/test', '--all']

[report]
recipe = zc.recipe.egg
eggs = coverage
scripts = coverage=report
initialization =
    sys.argv = sys.argv[:] + ['html', '-i']

[pyflakes]
recipe = zc.recipe.egg
scripts = pyflakes
eggs = pyflakes
entry-points = pyflakes=pyflakes.scripts.pyflakes:main

[pep8]
recipe = zc.recipe.egg
eggs = pep8